@charset "utf-8";

/*Styles*/
.page_wrapper {
	position: relative;
}


/*
@media all and (max-width: 1024px) { tablet start }

@media all and (min-width: 768px) and (max-width: 1024px) { tablet }
@media all and (max-width: 767px) { phone }
*/



/*Header*/
header {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 7rem;
	text-align: center;
	/*box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);*/
	background-color: rgba(255, 255, 255, 0.6);
}

header.logo {
	font-size: 2rem;
}



/*lnb menu button*/
.btn_lnb_menu {
	display: none;
	position: absolute;
	left: 1rem;
	top: 1rem;
	width: 4rem;
	height: 4rem;
	/*z-index: 2;*/
	outline: none;
}
@media all and (max-width: 1024px) {
	.btn_lnb_menu {
		display: block;
	}
}




.btn_lnb_menu span:empty {
	position: absolute;
	display: block;
	width: 4rem;
	height: 0.4rem;
	background-color: #fff;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	transition: all 0.25s ease-in-out;
}
.btn_lnb_menu span:empty:nth-child(1) {
	top: 0;
}
.btn_lnb_menu span:empty:nth-child(2) {
	top: 50%;
	margin-top: -0.2rem;
	transition: all 0.2s ease;
}
.btn_lnb_menu span:empty:nth-child(3) {
	bottom: 0;
}
.btn_lnb_menu.on span:empty:nth-child(1) {
	top: 50%;
	margin-top: -0.2rem;
	transform: rotate(45deg);
	box-shadow: none;
}
.btn_lnb_menu.on span:empty:nth-child(2) {
	opacity: 0;
}
.btn_lnb_menu.on span:empty:nth-child(3) {
	bottom: unset;
	top: 50%;
	margin-top: -0.2rem;
	transform: rotate(-45deg);
	box-shadow: none;
}


header .pc_right_menu {
	float: right;
	margin-top: 2rem;
}
@media all and (max-width: 1024px) {
	header {
		background-color: transparent;
	}
	header .pc_right_menu {
		display: none;
	}
}



header .pc_right_menu li {
	display: inline-block;
	margin: 0 2rem;
}
header .pc_right_menu li a {
	font-family: "Roboto-Regular";
	font-size: 1.6rem;
	font-weight: bold;
	/*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
	transition: all 0.25s;
	color: #555;
}
header .pc_right_menu li.active a,
header .pc_right_menu li a:hover {
	color: darkcyan;
	/*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);*/
}







/*Left Navigation*/
.lnb {
	position: fixed;
	top: 0;
	z-index: 1;
	padding-top: 10rem;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
	transition: all 0.3s ease-in-out;
	left: -25rem;
	opacity: 1;
	width: 25rem;
	height: 100%;
}
.lnb.on {
	left: 0;
}
.lnb ul {
	padding: 3rem 0;
}
.lnb ul li {
	line-height: 4rem;
	font-size: 2rem;
	color: #fff;
	text-indent: 2rem;
}








/*Main Area*/
main > section {
	width: 100%;
	min-height: 120vh;
}
main > section:first-child {
	min-height: 100vh;
}
main > section.bg_section {
	position: relative;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
main > section.bg_section h1,
main > section.bg_section h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Roboto-Regular";
	font-size: 7rem;
	white-space: nowrap;
	color: #fff;
	text-shadow: 0.4rem 0.4rem 0.6rem rgba(0, 0, 0, 0.3);
}
.bg_section.bg_img01 {
	background-image: url("../images/bg_beach.jpg");
	/*background-image: url("../images/bg_beach2.jpg");*/
}
.bg_color01 {
	/*background-color: floralwhite;*/
	background-color: #D8DDD6;
}
.bg_section.bg_img02 {
	background-image: url("../images/bg_desk.jpg");
}
.bg_color02 {
	/*background-color: azure;*/
	background-color: #192939;
}
.bg_section.bg_img03 {
	background-image: url("../images/bg_leaves.jpg");
}
.bg_color03 {
	/*background-color: antiquewhite;*/
	background-color: #C9BBAA;
}






main > section .content {
	margin: 0 auto;
	padding: 10vh 0;
	width: 80rem;

	border: 1px solid;
}







/*Footer*/
footer {
	min-height: 30rem;
	background-color: #333;
	color: #fff;
}






































































